@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alata", arial;
  font-size: 1.5rem;
  height: 100%;
}

body.display {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

li {
  list-style-type: none;
}

.website-grid {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 65rem auto 15rem;
      grid-template-rows: 65rem auto 15rem;
      grid-template-areas: "header" "main" "footer";
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background: url("../images/mobile/image-hero.jpg") no-repeat;
  background-size: cover;
  padding: 2.5em 2rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 850px) {
  .header {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url("../images/desktop/image-hero.jpg") no-repeat right;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../images/desktop/image-hero.jpg") no-repeat right;
    background-size: cover;
    padding: 4em 2rem 0 2rem;
  }
}

.header .header-content--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 74em;
}

.header .header-content--wrap .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 850px) {
  .header .header-content--wrap .nav {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
}

.header .header-content--wrap .nav .nav__logo {
  position: relative;
  z-index: 999;
}

.header .header-content--wrap .nav .nav-ul--wrap {
  width: 100%;
  visibility: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Alata", arial;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

@media only screen and (min-width: 850px) {
  .header .header-content--wrap .nav .nav-ul--wrap {
    visibility: visible;
  }
}

.header .header-content--wrap .nav .nav-ul--wrap.active {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: black;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
}

@media only screen and (min-width: 850px) {
  .header .header-content--wrap .nav .nav-ul--wrap.active.active {
    font-family: "Alata", arial;
    background: none;
    position: relative;
    font-size: unset;
    text-transform: unset;
    padding: 0;
  }
}

.header .header-content--wrap .nav .nav-ul--wrap .nav__ul {
  width: 100%;
  display: none;
}

.header .header-content--wrap .nav .nav-ul--wrap .nav__ul.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 850px) {
  .header .header-content--wrap .nav .nav-ul--wrap .nav__ul.active {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 850px) {
  .header .header-content--wrap .nav .nav-ul--wrap .nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header .header-content--wrap .nav .nav-ul--wrap .nav__ul .nav__li + .nav__li {
  margin-top: 1em;
}

@media only screen and (min-width: 850px) {
  .header .header-content--wrap .nav .nav-ul--wrap .nav__ul .nav__li + .nav__li {
    margin-top: 0;
    margin-left: 2em;
  }
}

.header .header-content--wrap .nav .nav-ul--wrap .nav__ul .nav__li .nav__a {
  color: white;
}

.header .header-content--wrap .nav #hamburger-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 999;
}

@media only screen and (min-width: 850px) {
  .header .header-content--wrap .nav #hamburger-btn {
    display: none;
  }
}

.header .header-content--wrap .nav #x-img {
  display: none;
}

.header .header-content--wrap .nav #x-img.display {
  display: block;
}

.header .header-content--wrap .nav #hamburger-img {
  display: block;
}

.header .header-content--wrap .nav #hamburger-img.display {
  display: none;
}

.header .header-content--wrap .hero--section {
  margin: auto 0;
  width: 100%;
}

.header .header-content--wrap .hero--section .h1--wrap {
  border: solid white 2px;
  margin-bottom: 7rem;
  padding: 1.75em 1.75em 1.25em 1.75em;
}

@media only screen and (min-width: 850px) {
  .header .header-content--wrap .hero--section .h1--wrap {
    max-width: 59%;
    margin-bottom: 3rem;
  }
}

.header .header-content--wrap .hero--section .h1--wrap .header__h1 {
  color: white;
  font-weight: 400;
  max-width: 11ch;
  font-size: clamp(4rem, 7vw, 7rem);
  line-height: 1;
}

@media only screen and (min-width: 850px) {
  .header .header-content--wrap .hero--section .h1--wrap .header__h1 {
    max-width: 15ch;
  }
}

.about--section {
  padding: 7rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media only screen and (min-width: 850px) {
  .about--section {
    padding: 10rem 2rem;
  }
}

.about--section .about__content-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 850px) {
  .about--section .about__content-grid {
    -ms-grid-columns: 1.5fr 16rem 1fr;
        grid-template-columns: 1.5fr 16rem 1fr;
    max-width: 74em;
  }
}

.about--section .about__content-grid .about__info--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media only screen and (min-width: 850px) {
  .about--section .about__content-grid .about__info--container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.about--section .about__content-grid .about__info--container .about__info--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  text-align: center;
  background: white;
  margin-top: 4rem;
}

@media only screen and (min-width: 850px) {
  .about--section .about__content-grid .about__info--container .about__info--wrap {
    text-align: unset;
    padding: 3em 0 0 3em;
  }
}

@media only screen and (min-width: 1000px) {
  .about--section .about__content-grid .about__info--container .about__info--wrap {
    padding: 6em 0 0 6em;
  }
}

.about--section .about__content-grid .about__info--container .about__info--wrap .info__h2 {
  font-size: clamp(3.2rem, 4vw, 4.5rem);
  margin-bottom: 0.5em;
  line-height: 1;
}

.about--section .about__content-grid .about__info--container .about__info--wrap .info__p {
  color: dimgray;
  line-height: 1.6;
}

@media only screen and (max-width: 414px) {
  .about--section .about__content-grid .about__info--container .about__info--wrap .info__p {
    max-width: 30ch;
  }
}

@media only screen and (min-width: 850px) {
  .about--section .about__content-grid .about__info--container .about__info--wrap .info__p {
    max-width: 46ch;
  }
}

.about--section .about__content-grid .picture {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.about--section .about__content-grid .picture .about__img {
  width: 100%;
}

.creations--section {
  padding: 3rem 2rem 7rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.creations--section .creations__header {
  margin-bottom: 3em;
}

.creations--section .creations__header .creations__h2 {
  font-size: clamp(3.2rem, 4vw, 4.5rem);
  text-align: center;
}

@media only screen and (min-width: 850px) {
  .creations--section .creations__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.creations--section .creations-content--wrap {
  width: 100%;
  max-width: 74em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 850px) {
  .creations--section .creations-content--wrap {
    display: unset;
  }
}

.creations--section .creations-content--wrap .creations-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.5em;
}

@media only screen and (min-width: 850px) {
  .creations--section .creations-content--wrap .creations-grid {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.creations--section .creations-content--wrap .creations-grid .grid-items {
  position: relative;
  cursor: pointer;
}

.creations--section .creations-content--wrap .creations-grid .grid-items::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.315);
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

@media only screen and (min-width: 850px) {
  .creations--section .creations-content--wrap .creations-grid .grid-items:hover::after {
    background: rgba(255, 255, 255, 0.603);
  }
  .creations--section .creations-content--wrap .creations-grid .grid-items:hover .grid-item__h3 {
    color: black;
  }
}

.creations--section .creations-content--wrap .creations-grid .grid-items .grid-item__h3 {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: white;
  font-size: clamp(2.6rem, 4vw, 3.2rem);
  max-width: 9ch;
  z-index: 2;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.creations--section .creations-content--wrap .creations-grid .grid-items .the-grid--h3 {
  max-width: 7ch;
}

.creations--section .creations-content--wrap .creations-grid .grid-items .grid-picture img {
  width: 100%;
}

.see-all-link {
  background: white;
  border: solid black 1px;
  font-family: "Alata", arial;
  text-transform: uppercase;
  color: black;
  padding: 0.5em 2em;
  letter-spacing: 0.5rem;
  -webkit-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}

.see-all-link:hover {
  background: black;
  color: white;
}

.creations__link--mobile {
  text-align: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  margin-top: 3rem;
}

@media only screen and (min-width: 850px) {
  .creations__link--mobile {
    display: none;
  }
}

.creations__link--desktop {
  display: none;
}

@media only screen and (min-width: 850px) {
  .creations__link--desktop {
    display: block;
  }
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background: black;
  padding: 4rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__content--wrap {
  width: 100%;
  max-width: 74em;
}

@media only screen and (min-width: 850px) {
  footer .footer__content--wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .logo-links--wrap {
  text-align: center;
}

@media only screen and (min-width: 850px) {
  footer .logo-links--wrap {
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .logo-links--wrap .footer__logo {
  display: inline-block;
  width: 12rem;
}

@media only screen and (min-width: 850px) {
  footer .logo-links--wrap .logo-links__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

footer .logo-links--wrap .logo-links__ul .logo-links__li {
  margin-top: 2rem;
}

@media only screen and (min-width: 850px) {
  footer .logo-links--wrap .logo-links__ul .logo-links__li {
    margin-top: 0;
  }
  footer .logo-links--wrap .logo-links__ul .logo-links__li + .logo-links__li {
    margin-left: 2rem;
  }
}

footer .logo-links--wrap .logo-links__ul .logo-links__li .footer__links {
  color: white;
}

footer .social-links-copyright--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
}

@media only screen and (min-width: 850px) {
  footer .social-links-copyright--wrap {
    margin-top: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .social-links-copyright--wrap .social__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-links-copyright--wrap .social__ul .social__li + .social__li {
  margin-left: 1.5rem;
}

footer .social-links-copyright--wrap .copyright {
  margin-top: 2rem;
  color: dimgray;
}

@media only screen and (min-width: 850px) {
  footer .social-links-copyright--wrap .copyright {
    margin-top: 0;
  }
}
/*# sourceMappingURL=styles.css.map */