footer {
    grid-area: footer;
    background: color(black);

    .logo-links__ul {
        .logo-links__li {
            .footer__links {
                color: white;
            }
        }
    }

    .copyright {
        color: color(white);
    }
}
