.header {
    grid-area: header;
    background: url("../images/mobile/image-hero.jpg") no-repeat;
    background-size: cover;
    padding: 2.5em $padding 0 $padding;
    display: flex;
    justify-content: center;

    @include desktopSize {
        background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
            url("../images/desktop/image-hero.jpg") no-repeat right;
        background-size: cover;
        padding: 4em $padding 0 $padding;
    }

    .header-content--wrap {
        @include flexCenter(column);
        width: 100%;
        max-width: $max-width;

        .nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @include desktopSize {
                flex-wrap: unset;
            }

            .nav__logo {
                position: relative;
                z-index: 999;
            }

            .nav-ul--wrap {
                width: 100%;
                // display: flex;
                visibility: hidden;
                align-items: center;
                font-family: $font-stack--text;
                transition: background 0.25s;
                font-size: 1.6rem;

                @include desktopSize {
                    visibility: visible;
                }

                &.active {
                    visibility: visible;
                    display: flex;
                    justify-content: center;
                    padding: $padding;
                    position: fixed;
                    z-index: 998;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background: black;
                    font-size: 3rem;
                    text-transform: uppercase;
                    font-family: $font-stack--header;

                    @include desktopSize {
                        &.active {
                            font-family: $font-stack--text;
                            background: none;
                            position: relative;
                            font-size: initial;
                            text-transform: unset;
                            padding: 0;
                        }
                    }
                }

                .nav__ul {
                    width: 100%;
                    display: none;

                    &.active {
                        display: flex;
                        flex-direction: column;

                        @include desktopSize {
                            flex-direction: row;
                            display: flex;
                        }
                    }

                    @include desktopSize {
                        display: flex;
                        justify-content: flex-end;
                    }

                    .nav__li {
                        position: relative;
                        & + .nav__li {
                            margin-top: 1em;
                        }

                        @include desktopSize {
                            & + .nav__li {
                                margin-top: 0;
                                margin-left: 1.75em;
                            }

                            &::after {
                                content: "";
                                width: 0%;
                                height: 0.2rem;
                                background: white;
                                position: absolute;
                                bottom: -0.5rem;
                                left: 0;
                                transition: width 0.25s ease;
                            }

                            &:hover::after {
                                width: 100%;
                            }
                        }

                        .nav__a {
                            color: white;
                        }
                    }
                }
            }

            #hamburger-btn {
                background: none;
                border: none;
                cursor: pointer;
                position: relative;
                z-index: 999;

                @include desktopSize {
                    display: none;
                }
            }

            #x-img {
                display: none;

                &.display {
                    display: block;
                }
            }

            #hamburger-img {
                display: block;

                &.display {
                    display: none;
                }
            }
        }
        .hero--section {
            margin: auto 0;
            width: 100%;

            .h1--wrap {
                border: solid white 2px;
                margin-bottom: 7rem;
                padding: 1.75em 1.75em 1.25em 1.75em;

                @include desktopSize {
                    max-width: 59%;
                    margin-bottom: 3rem;
                }
                .header__h1 {
                    color: white;
                    font-weight: 400;
                    max-width: 11ch;
                    font-size: clamp(4rem, 7vw, 7rem);
                    line-height: 1;

                    @include desktopSize {
                        max-width: 15ch;
                    }
                }
            }
        }
    }
}
