$colors: (
    white: hsl(0, 0%, 100%),
    black: hsl(0, 0%, 0%),
    dark-gray: hsl(0, 0%, 55%),
    very-dark-gray: hsl(0, 0%, 41%),
);

$font-stack--header: "Josefin Sans", sans-serif;
$font-stack--text: "Alata", arial;

$max-width: 110rem;
$padding: 2rem;
