html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    // outline: solid red 1px;
}

body {
    font-family: $font-stack--text;
    font-size: 1.5rem;
    height: 100%;

    &.display {
        overflow: hidden;
    }
}

h1,
h2,
h3 {
    font-family: $font-stack--header;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

li {
    list-style-type: none;
}

.website-grid {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65rem auto auto;
    grid-template-areas: "header" "main" "footer";

    @include desktopSize {
        grid-template-rows: 650px auto 15rem;
    }
}

main {
    grid-area: main;
}
